15 02 12 09                                                                     
   30
    9.00    104.50      8.
    9.50    104.50      8.
   10.00    104.50      8.
   10.50    104.50      8.
   11.00    104.50      8.
    9.00    105.00      8.
    9.50    105.00      8.
   10.00    105.00      8.
   10.50    105.00      8.
   11.00    105.00      8.
    9.00    105.50      8.
    9.50    105.50      8.
   10.00    105.50      8.
   10.50    105.50      8.
   11.00    105.50      8.
    9.00    106.00      8.
    9.50    106.00      8.
   10.00    106.00      8.
   10.50    106.00      8.
   11.00    106.00      8.
    9.00    106.50      8.
    9.50    106.50      8.
   10.00    106.50      8.
   10.50    106.50      8.
   11.00    106.50      8.
    9.00    107.00      8.
    9.50    107.00      8.
   10.00    107.00      8.
   10.50    107.00      8.
   11.00    107.00      8.
96                                                                              
0                                                                               
10000.0                                                                         
1                                                                               
C:/HYSPLIT/working/met_files/                                                   
RP201502.gbl                                                                    
1                                                                               
TEST                                                                            
100000.0                                                                        
1.0                                                                             
00 00 00 00 00                                                                  
1                                                                               
0.0 0.0                                                                         
0.05 0.05                                                                       
30.0 30.0                                                                       
./                                                                              
cdumps/vietnam/cdump_15021209                                                   
1                                                                               
1200                                                                            
00 00 00 00 00                                                                  
00 00 00 00 00                                                                  
00 96 00                                                                        
1                                                                               
0.0 0.0 0.0                                                                     
0.0 0.0 0.0 0.0 0.0                                                             
0.0 0.0 0.0                                                                     
0.0                                                                             
0.0                                                                             
