17 10 01 09                                                                     
  121
   28.00     70.00     10.
   28.50     70.00     10.
   29.00     70.00     10.
   29.50     70.00     10.
   30.00     70.00     10.
   30.50     70.00     10.
   31.00     70.00     10.
   31.50     70.00     10.
   32.00     70.00     10.
   32.50     70.00     10.
   33.00     70.00     10.
   28.00     70.50     10.
   28.50     70.50     10.
   29.00     70.50     10.
   29.50     70.50     10.
   30.00     70.50     10.
   30.50     70.50     10.
   31.00     70.50     10.
   31.50     70.50     10.
   32.00     70.50     10.
   32.50     70.50     10.
   33.00     70.50     10.
   28.00     71.00     10.
   28.50     71.00     10.
   29.00     71.00     10.
   29.50     71.00     10.
   30.00     71.00     10.
   30.50     71.00     10.
   31.00     71.00     10.
   31.50     71.00     10.
   32.00     71.00     10.
   32.50     71.00     10.
   33.00     71.00     10.
   28.00     71.50     10.
   28.50     71.50     10.
   29.00     71.50     10.
   29.50     71.50     10.
   30.00     71.50     10.
   30.50     71.50     10.
   31.00     71.50     10.
   31.50     71.50     10.
   32.00     71.50     10.
   32.50     71.50     10.
   33.00     71.50     10.
   28.00     72.00     10.
   28.50     72.00     10.
   29.00     72.00     10.
   29.50     72.00     10.
   30.00     72.00     10.
   30.50     72.00     10.
   31.00     72.00     10.
   31.50     72.00     10.
   32.00     72.00     10.
   32.50     72.00     10.
   33.00     72.00     10.
   28.00     72.50     10.
   28.50     72.50     10.
   29.00     72.50     10.
   29.50     72.50     10.
   30.00     72.50     10.
   30.50     72.50     10.
   31.00     72.50     10.
   31.50     72.50     10.
   32.00     72.50     10.
   32.50     72.50     10.
   33.00     72.50     10.
   28.00     73.00     10.
   28.50     73.00     10.
   29.00     73.00     10.
   29.50     73.00     10.
   30.00     73.00     10.
   30.50     73.00     10.
   31.00     73.00     10.
   31.50     73.00     10.
   32.00     73.00     10.
   32.50     73.00     10.
   33.00     73.00     10.
   28.00     73.50     10.
   28.50     73.50     10.
   29.00     73.50     10.
   29.50     73.50     10.
   30.00     73.50     10.
   30.50     73.50     10.
   31.00     73.50     10.
   31.50     73.50     10.
   32.00     73.50     10.
   32.50     73.50     10.
   33.00     73.50     10.
   28.00     74.00     10.
   28.50     74.00     10.
   29.00     74.00     10.
   29.50     74.00     10.
   30.00     74.00     10.
   30.50     74.00     10.
   31.00     74.00     10.
   31.50     74.00     10.
   32.00     74.00     10.
   32.50     74.00     10.
   33.00     74.00     10.
   28.00     74.50     10.
   28.50     74.50     10.
   29.00     74.50     10.
   29.50     74.50     10.
   30.00     74.50     10.
   30.50     74.50     10.
   31.00     74.50     10.
   31.50     74.50     10.
   32.00     74.50     10.
   32.50     74.50     10.
   33.00     74.50     10.
   28.00     75.00     10.
   28.50     75.00     10.
   29.00     75.00     10.
   29.50     75.00     10.
   30.00     75.00     10.
   30.50     75.00     10.
   31.00     75.00     10.
   31.50     75.00     10.
   32.00     75.00     10.
   32.50     75.00     10.
   33.00     75.00     10.
240                                                                             
0                                                                               
10000.0                                                                         
1                                                                               
C:/HYSPLIT/working/met_files/                                                   
RP201710.gbl                                                                    
1                                                                               
TEST                                                                            
100000.0                                                                        
1.0                                                                             
00 00 00 00 00                                                                  
1                                                                               
0.0 0.0                                                                         
0.05 0.05                                                                       
30.0 30.0                                                                       
./                                                                              
cdumps/pakistan/cdump_17100109                                                  
1                                                                               
1200                                                                            
00 00 00 01 00                                                                  
00 00 00 00 00                                                                  
00 80 00                                                                        
1                                                                               
0.0 0.0 0.0                                                                     
0.0 0.0 0.0 0.0 0.0                                                             
0.0 0.0 0.0                                                                     
0.0                                                                             
0.0                                                                             
