17 10 20 09                                                                     
  121
   27.00     73.50     10.
   27.50     73.50     10.
   28.00     73.50     10.
   28.50     73.50     10.
   29.00     73.50     10.
   29.50     73.50     10.
   30.00     73.50     10.
   30.50     73.50     10.
   31.00     73.50     10.
   31.50     73.50     10.
   32.00     73.50     10.
   27.00     74.00     10.
   27.50     74.00     10.
   28.00     74.00     10.
   28.50     74.00     10.
   29.00     74.00     10.
   29.50     74.00     10.
   30.00     74.00     10.
   30.50     74.00     10.
   31.00     74.00     10.
   31.50     74.00     10.
   32.00     74.00     10.
   27.00     74.50     10.
   27.50     74.50     10.
   28.00     74.50     10.
   28.50     74.50     10.
   29.00     74.50     10.
   29.50     74.50     10.
   30.00     74.50     10.
   30.50     74.50     10.
   31.00     74.50     10.
   31.50     74.50     10.
   32.00     74.50     10.
   27.00     75.00     10.
   27.50     75.00     10.
   28.00     75.00     10.
   28.50     75.00     10.
   29.00     75.00     10.
   29.50     75.00     10.
   30.00     75.00     10.
   30.50     75.00     10.
   31.00     75.00     10.
   31.50     75.00     10.
   32.00     75.00     10.
   27.00     75.50     10.
   27.50     75.50     10.
   28.00     75.50     10.
   28.50     75.50     10.
   29.00     75.50     10.
   29.50     75.50     10.
   30.00     75.50     10.
   30.50     75.50     10.
   31.00     75.50     10.
   31.50     75.50     10.
   32.00     75.50     10.
   27.00     76.00     10.
   27.50     76.00     10.
   28.00     76.00     10.
   28.50     76.00     10.
   29.00     76.00     10.
   29.50     76.00     10.
   30.00     76.00     10.
   30.50     76.00     10.
   31.00     76.00     10.
   31.50     76.00     10.
   32.00     76.00     10.
   27.00     76.50     10.
   27.50     76.50     10.
   28.00     76.50     10.
   28.50     76.50     10.
   29.00     76.50     10.
   29.50     76.50     10.
   30.00     76.50     10.
   30.50     76.50     10.
   31.00     76.50     10.
   31.50     76.50     10.
   32.00     76.50     10.
   27.00     77.00     10.
   27.50     77.00     10.
   28.00     77.00     10.
   28.50     77.00     10.
   29.00     77.00     10.
   29.50     77.00     10.
   30.00     77.00     10.
   30.50     77.00     10.
   31.00     77.00     10.
   31.50     77.00     10.
   32.00     77.00     10.
   27.00     77.50     10.
   27.50     77.50     10.
   28.00     77.50     10.
   28.50     77.50     10.
   29.00     77.50     10.
   29.50     77.50     10.
   30.00     77.50     10.
   30.50     77.50     10.
   31.00     77.50     10.
   31.50     77.50     10.
   32.00     77.50     10.
   27.00     78.00     10.
   27.50     78.00     10.
   28.00     78.00     10.
   28.50     78.00     10.
   29.00     78.00     10.
   29.50     78.00     10.
   30.00     78.00     10.
   30.50     78.00     10.
   31.00     78.00     10.
   31.50     78.00     10.
   32.00     78.00     10.
   27.00     78.50     10.
   27.50     78.50     10.
   28.00     78.50     10.
   28.50     78.50     10.
   29.00     78.50     10.
   29.50     78.50     10.
   30.00     78.50     10.
   30.50     78.50     10.
   31.00     78.50     10.
   31.50     78.50     10.
   32.00     78.50     10.
240                                                                             
0                                                                               
10000.0                                                                         
1                                                                               
C:/HYSPLIT/working/met_files/                                                   
RP201710.gbl                                                                    
1                                                                               
TEST                                                                            
100000.0                                                                        
1.0                                                                             
00 00 00 00 00                                                                  
1                                                                               
0.0 0.0                                                                         
0.05 0.05                                                                       
30.0 30.0                                                                       
./                                                                              
cdumps/india/cdump_17102009                                                     
1                                                                               
1200                                                                            
00 00 00 01 00                                                                  
00 00 00 00 00                                                                  
00 80 00                                                                        
1                                                                               
0.0 0.0 0.0                                                                     
0.0 0.0 0.0 0.0 0.0                                                             
0.0 0.0 0.0                                                                     
0.0                                                                             
0.0                                                                             
